services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile

    volumes:
      - type: bind
        source: .
        target: /usr/src/app
        consistency: cached
    environment:
      PYTHONPATH: '/usr/src/app/src'
    env_file:
      - .env

    restart: "no" #終了時にコンテナ削除
